body {
  background-color: #000;
  font-size: larger;
}
.dark-bg {
  background-color: #000;
}

.sidelink {
  padding: 0 .25rem !important;
  margin: 0 -.25rem !important;  
  text-decoration: none;
}

.sidelink:hover {
  color: #b78902 !important;
  text-decoration-line: none;
}

.nav-link:hover {
  color: #b78902 !important;
  text-decoration-line: none;
}

.blocksatz {
  
  font-size: 1.5rem;
}
.hyphens { 
  hyphens: auto; 
}

h1, h2, h3 { 
  hyphens: auto; 
}

.grey-bg {
  background-color: rgb(29, 29, 29);
}

.gold {
  color: #b78902;
  font-style: italic;
}

.uplink {
  padding: 0 .25rem !important;
  margin: 0 -.25rem !important;  
  text-decoration-line: underline;}

.uplink:hover {
  color: #b78902 !important;
  text-decoration-line: underline;
}